<div class="property-page">
  <div *ngIf="isLoading" class="loading">Loading property details...</div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="property-card" *ngIf="property && !isLoading">
    <!-- property details -->
    <div class="property-details">
      <div class="property-info">
        <div class="property-title-location">
          <span class="property-title">{{ property.name_en }}</span>
          <span class="property-id">ID: {{ property.id }}</span>
          <span class="property-location">
            <img src="/assets/icons/property-location.svg" alt="" />
            <span> {{ property.district }}, {{ property.city }} </span>
          </span>
        </div>

        <div class="property-rent-date">
          <span class="property-rent">
            {{ property.annual_rent | number }}
            <span>{{ "SAR" | translate }}</span>
          </span>
          <span class="property-date">
            <img src="/assets/icons/date-icon.svg" alt="date-icon" />
            {{ "Posted on" | translate }}
            {{ property.created_at | date }}
          </span>
        </div>
      </div>

      <div class="property-includes">
        <div class="property-includes-item">
          <img src="/assets/icons/bed.svg" alt="bed icon" />
          {{ property.bathrooms }} {{ "Bed" | translate }}
        </div>
        <div class="property-includes-item">
          <img src="/assets/icons/bath.svg" alt="bath icon" />
          {{ property.bathrooms }} {{ "Bath" | translate }}
        </div>
        <div class="property-includes-item">
          <img src="/assets/icons/location.svg" alt="location icon" />
          {{ property?.area }} {{ "m²" | translate }}
        </div>
        <div class="property-includes-item">
          <img src="/assets/icons/parking.svg" alt="" />
          {{
            property.parking
              ? ("Parking" | translate)
              : ("No Parking" | translate)
          }}
        </div>
      </div>

      <div class="property-deposit-license">
        <div class="property-deposit-license-item">
          <img src="/assets/icons/deposit.svg" alt="deposit icon" />
          <div>
            <span class="deposit-label">{{
              "Deposit Amount" | translate
            }}</span>
            <span class="deposit-value">
              {{ property.annual_rent | number }}
              {{ "SAR" | translate }}
            </span>
          </div>
        </div>
        <div class="property-deposit-license-item">
          <img src="/assets/icons/adv.svg" alt="adv icon" />
          <div>
            <span class="license-label">{{ "Adv. License" | translate }}</span>
            <span class="license-value">
              {{ property.ad_number }}
            </span>
          </div>
        </div>
        <div class="property-deposit-license-item">
          <img src="/assets/icons/fal.svg" alt="" />
          <div>
            <span class="license-label">{{
              "FAL License ID" | translate
            }}</span>
            <span class="license-value">
              {{ property.fal_number }}
            </span>
          </div>
        </div>
        <div class="property-deposit-license-item">
          <img src="/assets/icons/date-blue.svg" alt="" />
          <div>
            <span class="availability-label">{{
              "Available From" | translate
            }}</span>
            <span class="availability-value">
              {{ property.available_from }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- property images -->
    <div class="property-images">
      <div *ngIf="property.images?.length" class="images-grid">
        <div *ngFor="let image of property.images" class="property-image">
          <img [src]="image" [alt]="property.name_en + ' image'" />
        </div>
      </div>
      <div *ngIf="!property.images?.length" class="no-images">
        <p>No images provided</p>
      </div>
    </div>

    <!-- property map -->
    <div class="property-map">
      <h3>{{ "Location" | translate }}</h3>
      <app-map [lat]="property.latitude" [lng]="property.longitude"></app-map>
    </div>

    <!-- owner details -->
    <!-- <div class="property-owner-details">
      <h3>{{ "Owner Details" | translate }}</h3>
      <div class="owner-name property-owner-item">
        <span class="owner-name-label">{{ "Name" | translate }}</span>
        <span class="owner-name-value">
          {{ property.owner_details.name }}
        </span>
      </div>
      <div class="owner-contact property-owner-item">
        <span class="owner-contact-label">{{ "Mobile" | translate }}</span>
        <span class="owner-contact-value">
          {{ property.owner_details.contact.mobile }}
        </span>
      </div>
      <div class="owner-contact property-owner-item">
        <span class="owner-contact-label">{{
          "Email Address" | translate
        }}</span>
        <span class="owner-contact-value">
          {{ property.owner_details.contact.email }}
        </span>
      </div>
      <div class="owner-address property-owner-item">
        <span class="owner-address-label">{{ "Address" | translate }}</span>
        <span class="owner-address-value">
          {{ property.owner_details.address.street }},
          {{ property.owner_details.address.city }},
          {{ property.owner_details.address.region }}
        </span>
      </div>
    </div> -->
  </div>
</div>
